<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.7.2" />
    <httpRuntime targetFramework="4.7.2" enableVersionHeader="true" />
    <!-- Verbose error messages -->
    <customErrors mode="Off" />
    <!-- Weak cookie settings -->
    <authentication mode="Forms">
      <forms loginUrl="~/Account/Login" timeout="2880" requireSSL="false" />
    </authentication>
    <!-- Insecure machineKey (hardcoded for all deployments) -->
    <machineKey validationKey="AutoGenerate,IsolateApps" decryptionKey="AutoGenerate,IsolateApps" validation="SHA1" />
    <!-- Insecure session state -->
    <sessionState mode="InProc" timeout="60" />
    <!-- Weak viewstate protection -->
    <pages validateRequest="false" viewStateEncryptionMode="Never" />
  </system.web>
  <system.webServer>
    <!-- Missing security headers -->
    <httpProtocol>
      <customHeaders>
        <!-- Revealing server information -->
        <add name="Server" value="Microsoft-IIS/10.0" />
      </customHeaders>
    </httpProtocol>
    <!-- Directory browsing enabled -->
    <directoryBrowse enabled="true" />
  </system.webServer>
</configuration>