@{
    ViewData["Title"] = "Message Sent";
}

<div class="text-center">
    <h1>Thank You!</h1>
    <p>Your message has been sent successfully.</p>
    <p><a href="/Home/Contact" class="btn btn-primary">Back to Contact Form</a></p>
</div>